{% extends "base.html" %}
{% block title %}
<title>Channels</title>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/channels.css') }}">
{% endblock %}
{% block content %}
<div id="wrapper">
    <div class="invitation">
        <header id="header">
            <h1>Team {{ teamname }}</h1>
        </header>
        <main class="main">
            <ul id="invitedList">
                {% if channels %}
                {% for channel in channels %}
                <a href="{{ url_for('messages.detail', team_id=team_id, cid=channel.id) }}" class="channel-link">
                    <li>
                        <div class="channel-name">{{ channel.channel_name }}</div>
                        <div class="channel-description">{{ channel.channel_description }}</div>
                    </li>
                </a>
                {% endfor %}
                {% endif %}
            </ul>
            {% if not channels %}
            <p>このチームにはまだチャンネルがありません</p>
            {% endif %}
        </main>
        
    </div>

    
    <div class="invitation-create-channel">
        <header id="header">
            <h1>Create Channel</h1>
        </header>
        <main class="main">
            <form id="inviteform" method="post" action="{{ url_for('channels.create_channel_page', team_id=team_id) }}">
                <input type="text" id="channelName" name="channel_name" placeholder="Channel name" required>
                <input type="text" id="channelDescription" name="channel_description" placeholder="Channel description"
                    required>
                <button type="submit">Create Channel</button>
            </form>
        </main>
    </div>
    <form method="GET" action="{{ url_for('worktime.worktime_view', team_id=team_id) }}">
        <button class="btn" type="submit" name="worktime_btn" value="worktime">Work Time Log</button>
    </form>
</div>
{% endblock %}
{% block scripts %}
<script>
    const teamId = {{ team_id | int }};
</script>
<script src="{{ url_for('static', filename='js/channels.js') }}"></script>
{% endblock %}