
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/channels.css">
    <title>Channels</title>
</head>
<body>
 <!-- ↑↑↑↑　jinja2構文に変更する -->


    <div id="wrapper">
        <div class="invitation">
            <header id="header">
                <h1>Channels List</h1>
            </header>
                <main class="main">
                    <form id="inviteform">
                        <input type="text" id="channelName" name="naem" placeholder="Create Channel">
                        <button type="submit">Submit</button>
                    </form>

                    <ul id="invitedList">
                        <!-- ここはチャット画面へ遷移できるよに設計する -->
                    </ul>
                </main>
            </div>
            <form>
                 <button class="btn" type="button" name="worktime_btn" value="worktime">Work Time Log</button>
            </form>
        </div>
        <script src="channels.js"></script>
</body>