html, body {
    height: 100%;
    margin: 0;
}

.site-nave {
    display: flex;
    padding: 0 40px;
}

#main-container2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.channel-title {
    text-align: center;
}

h1#channel {
 font-size: 62px;
}
h2#channel2 {
 font-size: 37px;
}
h3#channel3 {
 text-align: center;
 font-size: 18px;
}

.channel-title2 {
    text-align: center;
}

.btn3 {
    width: 140px;
    height: 37px;
    margin-top: 37px;
    background-color: #F3F3F6;
    border-radius: 100px;
    border: solid #F3F3F6;
    transition-property: opacity;
    transition-duration: 0.5s;
    text-align: center;
    cursor: pointer ;
    font-weight: bold;
}

.btn3:hover {
    opacity: 0.7;
    background-color: #ffff;
    box-shadow: 0 0 5px 4px rgba(234,100,217,0.1);
}

.btn3:focus {    
    outline: none;
    border: solid 3px rgba(233, 100, 217,0.1);
}   

.btn3:active {
    box-shadow: 0 0 5px 1px rgba(234,100,217,1);
}

.btn  {
width: 416px;
height: 56px;
margin: 37px 0 0 ;
padding: 0 24px;
color: #ffff;
background-color: #0d0c22;
border-radius: 100px;
border: solid #0d0c22;
transition-property: opacity;
transition-duration: 0.5s;
text-align: center;
cursor: pointer ;
}

.btn:hover {
    opacity: 0.7;
}