{% extends 'base.html'%}
{% block title %}
<title>ログイン</title>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
<div id="main-container">
    <section class="content">
        <main>
            <div class="auth-content">
                <h2>ログイン</h2>
                <div class="auth-form sign-in-form">
                    <form method="post">
                        <div class="form-fields">
                            <fieldset>
                                <label for="username">ユーザー名</label>
                                <input type="text" name="username" id="login" class="text-input" placeholder="ユーザー名">
                            </fieldset>
                            <fieldset>
                                <label for="password">パスワード</label>
                                <input type="password"  name="password" id="password" class="text-input" placeholder="パスワード">
                            </fieldset>
                        </div>
                      
                        <button class="btn" type="submit" name="sign_in_btn" value="sign_in">ログイン</button>
                        <p class="sign">アカウントをお持ちでない方はこちら
                          
                        <a class="info" href="{{ url_for('auth.signup_page') }}">新規登録</a>
                        </p>
                    </form>
                </div>
            </div>
        </main>
    </section>
</div>
{% endblock %}