{% extends 'base.html' %}
{% block title %}
<title>Chat</title>

{% blockstylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/messages.css') }}">
{% endblock %} 

{% endblock %}
<div class="message-display-area">
    {% if messages|length > 0 %}
        {% for message in messages %}
            {% if message.uid == uid %}
            <div class="my-message-bubble">
                <p>{{ message.message }}</p>
                </div>
            {% else %}
            <div class="other-user-message-bubble">
                <p class="user-name">{{ message.user_name }}</p>
                <p>{{ message.message }}</p>
            </div>
            {% endif %}
        {% endfor %}
    {% else %}
    <p class="no-message-yet">まだメッセージがありません</p>
    {% endif %}
</div>

<div class="message-input-area">
    <form class="message-form" method="POST" name="newMessageForm">
        <textarea name="message" class="message-textarea" placeholder="メッセージを入力..." autofocus></textarea>
        <input type="hidden" name="cid" value="{{ channel.id }}" />
        <button type="submit" class="send-message-button">送信</button>
    </form>
</div>
{% endblock %}


