{% extends 'base.html'%}
{% block title %}
<title>Sign Up</title>
{% endblock %}
{% block content %}
    <div id="main-container">
        <section class="content">
            <main>
                <div class="auth-content">
                    <h2>Sign up to Team Account</h2>
                    <div class="auth-form sign-up-form">
                        <form action="#" method="post">
                            <div class="form-fields">
                                <fieldset>
                                    <label for="username">Username</label>
                                    <input type="text" name="username" id="signup" class="text-input" placeholder="Username">
                                </fieldset>
                                <fieldset>
                                    <label for="password">Password</label>
                                    <input type="password" name="password" id="password" class="text-input" placeholder="Password 6-32 characters">
                                </fieldset>
                                <fieldset>
                                    <label for="password">Confirm Password</label>
                                    <input type="password" name="passwordConfirmation" id="password"  class="text-input">
                                </fieldset>
                                <fieldset>
                                    <label for="pet-select">Team Selection</label>
                                    <select id="pet-select" name="team_id">
                                    <option value="">Team Selection</option>
                                    <option value=1>A</option>
                                    <option value=2>B</option>
                                    <option value=3>C</option>
                                    <option value=4>D</option>
                                    <option value=5>E</option>
                                    <option value=6>F</option>
                                    <option value=7>G</option>
                                    <option value=8>H</option>
                                    <option value=9>I</option>
                                    <option value=10>J</option>
                                    <option value=11>K</option>
                                    <option value=12>L</option>
                                    <option value=13>M</option>
                                    <option value=14>N</option>
                                    <option value=15>O</option>
                                    <option value=16>P</option>
                                    <option value=17>Q</option>
                                    <option value=18>R</option>
                                    <option value=19>S</option>
                                    <option value=20>T</option>
                                    <option value=21>U</option>
                                    <option value=22>V</option>
                                    <option value=23>W</option>
                                    <option value=24>X</option>
                                    <option value=25>Y</option>
                                    <option value=26>Z</option>
                                    </select>
                                </fieldset>
                            </div>
                            <button class="btn" type="submit" value="create_account">Create Account</a></button> 
                            <p class="signup">Already have an account?
                                <a class="info" href="{{ url_for('auth.login_page') }}">Sign in</a>
                            </p>
                        </form>
                    </div>
                </div>
            </main>
        </section>
      </div>
{% endblock %}