* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #333;
    background-color: #ffff;

}

p {
    margin: 0 0 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding-top: 20px;
}

button:focus,
input[type="text"]:focus {
 outline: none;
}

#wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.invitation {
    background: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 20px -5px rgba(0,  0, 0, 0.2);
    margin: 50px auto;
    max-width: 800px;
}

#header {
    background: #ffff;
    color: #0d0c22;
    padding: 20px 30px;
    border-radius: 10px 10px 0 0;
    text-align: center;
}


#header h1 {
    font-size: 24px;
    font-weight: 400;
    }
#header h2 {
    font-size: 24px;
    font-weight: 400;
    }


.main {
    padding: 0 30px 30px 30px;
}

#inviteform {
    position: relative;
    margin: 0 0 20px;
}

#inviteform input {
    background: #fff;
    border: 1px solid #F3F3F6;
    border-radius: 10px;
    padding: 10px 100px 10px 10px;
    margin-right: 12px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: #0d0c22;
}

#inviteform input:hover {
    background-color: #F3F3F6;
    transition: background-color 0.3s;
}

#inviteform button {
    padding: 0 1em;
    font-size: 14px;
    background: #0d0c22;
    color: #fff;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    height: 40px;
    transition: opacity 0.3s linear;
}

#inviteform button:hover {
    opacity: 0.7;
}

#invitedList li {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #F3F3F6;
  border-radius: 10px;
}

#invitedList a {
    text-decoration: none;
    cursor: pointer;
    color: #0d0c22;
}

#invitedList li input[type="text"] {
font-size: 16px;
margin: 0 0 5px;
display: block;
}

#invitedList li input[type="text"] {
    flex: 1 1 auto;
    min-width: 0;
<<<<<<< HEAD
=======
    margin-right: 12px;
>>>>>>> 019d0d6212a8e47b742d33f85094e8889a820abc
    border: 1px solid #F3F3F6;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    width: 100%;
    height: 50px;
    color: #0d0c22;
}

#invitedList li input:hover {
    background-color: #F3F3F6;
    transition: background-color 0.3s;
}

#invitedList li label {
    font-size: 14px;
    display: block;
    margin: 0 0 10px;
    color: rgba(112, 112, 112, .55);
}

#invitedList li button {
    font-size: 14px;
    flex-shrink: 0;
    margin-left: auto;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 10px;
    color: #ffff;
    background: #70b3ff;
    cursor: pointer;
    transition: opacity 0.3s linear;
}


#invitedList li button:last-child {
    background: #ff7f7f;
}

#invitedList li button + button {
  margin-left: 8px;
}

#invitedList li button:hover {
    opacity: 0.7;
}
/* 
#invitedList li.responded {
    transition: 0.4s;
    border-color: #F3F3F6;
} */
/* 
#invitedList li.responded label,
#invitedList li.responded span {
    transition: 0.4s;
    color: #70b3ff;
} */

.btn  {
width: 416px;
height: 56px;
display: block;
margin: 32px auto;
padding: 0 24px;
color: #ffff;
background-color: #0d0c22;
border-radius: 100px;
border: solid #0d0c22;
transition-property: opacity;
transition-duration: 0.5s;
text-align: center;
cursor: pointer ;
}

.btn:hover {
    opacity: 0.7;
}