.container {
    display: flex; 
    min-height: 100vh; 
}

.chat {
    width: 250px; 
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
}

.chat h2 {
    margin-top: 0;
    margin-bottom: 15px;
}

.chat ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.chat li a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #333;
}

.chat li a:hover {
    background-color: #ddd;
}

.create-channel-btn  {
width: 416px;
height: 56px;
display: block;
margin: 32px auto;
padding: 0 24px;
color: #ffff;
background-color: #0d0c22;
border-radius: 100px;
border: solid #0d0c22;
transition-property: opacity;
transition-duration: 0.5s;
text-align: center;
cursor: pointer ;
}

.work_time_log-btn  {
width: 416px;
height: 56px;
display: block;
margin: 32px auto;
padding: 0 24px;
color: #ffff;
background-color: #0d0c22;
border-radius: 100px;
border: solid #0d0c22;
transition-property: opacity;
transition-duration: 0.5s;
text-align: center;
cursor: pointer ;
}

/* .main-content {
    flex-grow: 1; 
    padding: 20px;
    box-sizing: border-box;
} */
