{% extends 'base.html' %}
{% block title %}
<title>Error</title>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
{% endblock %}

{% block content %}
<div id="main-container">
  <section class="content">
    <main>
      <div class="auth-content">
        <div class="error-container">
          <h2>Something went wrong</h2>
          <p class="error-message">エラーが発生しました。もう一度ログインしてください。</p>
          <a href="{{ url_for('auth.login_page') }}" class="btn">Go to Login</a>
        </div>
      </div>
    </main>
  </section>
</div>
{% endblock %}
